*{
  margin: 0;
  padding: 0;
}
@font-face {
font-family: "segoe";
src: url("Segoe UI.woff");
}
.container {
  background-color: black;
  width: 100%;
  height: 100%;
}
body, html {
  height: 100%;
  font-family: segoe;
}
.header {
  background-color: #127ad3;
  height: 6%;
}
.header .h4 {
  margin-left: 0.9em;
  align-content: center;
}
.content {
  display: flex;
  background-color: white;
  height: 94%;
}
.taskList {
  display: inline-block;
  overflow: scroll;
  background-color: #ffffff;
  height: 100%;
  width:100%;
  margin-left: 2em; 
}
#menuButton {
  height: 8%;
  width: 10%;
  font-size: 100%;
  border: none;
  background-color: white;
  color: #465efc;
  text-align: left;
  margin-left: 0.6em;
  outline: none;
  cursor: pointer;
}
.menuBar i {
  margin-left: 0.7em;
  background-color: white;
  border: none;
  color: #127ad3;
  width: 100%;
}
.menuBar {
  width: 3%;
  background-color: #f4f4f4;
  border-radius: 5px;
}
.newList input[type=text] {
  width: 90%;
  height: 100%;
  border: none;
}
.newList input[type=text]:focus {
  border: 2px solid #127ad3;
  outline: none;
}
.addTasks {
  display: flex;
}
.addTasks input[type=text] {
  width: 90%;
  height: 100%;
  border: none;
}
.addTasks input[type=text]:focus {
  border-bottom: 2px solid #127ad3;
  outline: none;
}
#listTabel {
  width: 15em;
  height: 15em; 
}
#newList {
  display: none;
  height: 2em;
  width: 100%;
  margin-left: 15%;
}
.sideMenu {
  display: flex;
  margin-top: 0.3em;
}
.sideMenu a{
  display: inline;
  margin-left: 15%;
  align-content: center;
  font-size:0.9em;
}
.list {
  margin-left: 0.4em;
  overflow: scroll;
  width: 17em;
}
.list .image {
  background: url("img/addList.png");
  height: 100%;
  display: inline-block;
}
.listName {
  display: inline;
  align-content: center;
  cursor: pointer;
  font-size: 1.1em;
  margin-left: 15%;
  color: #3f5cdb;
}
.listName:hover {
  background-color: #808080;
}
.newList {
  float: left;
  display: flex;
  align-content: center;
  height: 2em;
  margin-top: 0.7em;
}
.sideMenu i{
  height: 1.2em;
  width: 1.1em;
  display: inline-block;
  position: relative;
  margin-left: 0.6em;
}
.sideMenu span{
 height: 2em;
 
}
.icons{
  height: 1.2em;
  width: 1.1em;
  display: inline-block;
  position: relative;
  margin-left: 0.6em;
  font-size: 1.1em;
}
.taskName {
  display: inline;
  align-content: center;
  cursor: pointer;
  font-size: 1.1em;
  margin-left: 15%;
}
#newTask {
  margin-left: 3em;
  height: 2em;
  width: 80%;
}
.taskDetail {
  margin-left: 1em;
  background-color: white;
  width: 0%;
  display: none;
  height: 100%;
  overflow: scroll;
}
.taskDetail h2 {
  color: #686de8;
}
.taskDetail #closeStepsButton {
  border: none;
  background-color: white;
  outline: none;
  width: 12em;
  height: 2em;
  bottom: 1em;
  left: 3em;
  position: -webkit-sticky;
  position: sticky;
}
.task {
  display:flex;
  width: 100%;
  height: 2.5em;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #3e69e4;
}
#newSteps {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 7.5em;
  background-color: white;
}
#newSteps input[type=text] {
  width: 90%;
  height: 100%;
  border: none;
}
#newSteps input[type=text]:focus {
  border: 2px solid #127ad3;
  outline: none;
}
#newStep{
  margin-top: 0.7em;
}
.step {
  display:flex;
  width: 100%;
  height: 2.5em;
}
.step .stepName {
  margin-top: 0.5em;
  margin-left: 0.5em;
  width: 80%;
}
.step .removeStep {
  border: none;
  outline: none;
  float: right;
}
#stepsHeading {
  border: none;
  outline: none;
}
#heading {
  color: #3e69e4;
}
#commentsDiv {
  position: -webkit-sticky;
  position: sticky;
  bottom: 2em;
  background-color: white;
  margin-left: 0.7em;
  margin-top: 2em;
}
