<div id="tasks" class="taskList">
    <input type="text" id="heading" [(ngModel)]="currentTask.taskName" value="Tasks..." />  
    <div id="taskTabel">
        <div class="newTask" *ngFor="let item of currentTask.subTasks">
            <img class="icons unchecked" [class.checked] = "item.isStricked" (click)= strickOut(item); />
            <div class="listName" [class.strickedListName] = "item.isStricked">
                <span (click)="selectStep(item);"> {{item.subTaskName}} </span>
            </div>
        </div>
    </div>
    <div class="addTasks">
        <img class="icons" src= "/assets/img/addList.png" />
        <input type = "text" name="newTask" #newtask id="newTask" placeholder="Add task" (keyup.enter) = "addSubTask(newtask)"/>
    </div>
</div>