:host {
    width: 55%;
    height: 37.5em;
}
.taskList {
    display: inline-block;
    overflow: scroll;
    background-color: #ffffff;
    height: 100%;
    width:100%;
    margin-left: 2em; 
}
#heading {
    color: #3e69e4;
}
.addTasks {
    display: flex;
}
.addTasks input[type=text] {
    width: 90%;
    height: 100%;
    border: none;
}
.addTasks input[type=text]:focus {
    border-bottom: 2px solid #127ad3;
    outline: none;
}
.icons{
    height: 1.2em;
    width: 1.1em;
    display: inline-block;
    position: relative;
    margin-left: 0.6em;
    font-size: 1.1em;
}
.unchecked {
    content: url("/assets/img/circle.svg")
}
.checked {
    content: url("/assets/img/check-circle-solid.png")
}
.listName {
    display: inline;
    align-content: center;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 15%;
    color: #3f5cdb;
    text-decoration: none;
}
.strickedListName {
    text-decoration: line-through;
}
.newTask {
    height: 2em;
    width: 80%;
}