<div id="taskDetail" class="taskDetail">
    <div class="step">
        <img class="icons" id="stepIcon" src= "/assets/img/circle.svg" />
        <input value="" name="stepsHeading" id="stepsHeading">
    </div>
    <div id="steps">
    </div>
    <input type = "hidden" name="SubTaskIndex" id="subTaskIndex" value="" />
    <div id="newSteps">
        <img class="icons" src= "/assets/img/addList.png" />
        <input type="text" id="newStep" placeholder="Add step" /> 
    </div>
    <div id="commentsDiv">
        <textarea name="message" id="comments" rows="5" cols="40" placeholder="Add comments"></textarea>
    </div>
    <button name="closeStepsButton" id="closeStepsButton"> close </button>
</div>